body {
	background-color: #ccc;
	color: #111;
	}

#resume {
	margin-top: 90px;
	margin-bottom: 100px;
	}

#contact {
	margin-top: 90px;
	margin-bottom: 100px;
	}

#nav {
	margin-top: -100px;
	width: 60em;
	}

#friends p {
	font-size: 8em;
	margin-top: 1em;
	}
	
#friends p a {
	background-color: white;
	border-left: 20px solid white;
	border-right: 20px solid white;
	}
	
#friends p a:hover {
	}

.vallant:hover, .ferenc:hover, .thompson:hover,
.trithart:hover, .palmer:hover, .wilson:hover,
.testolin:hover, .nordberg:hover, .shambot:hover{
	margin-left: 0em;
	}

.vallant {margin-left: -1.8em;}
.ferenc {margin-left: -0.95em;}
.thompson {margin-left: -1.1em;}
.trithart {margin-left: -1.7em;}
.palmer {margin-left: -1.4em;}
.wilson {margin-left: -1.4em;}
.testolin {margin-left: -1.95em;}
.nordberg {margin-left: -1.75em;}
.shambot {margin-left: -1.55em;}


p {
	font-size: 15em;
	font-family: helvetica, verdana, san-serif;
	font-weight: bold;
	line-height: .1em;
	}

#nav p {
	margin-top: 1em;
	margin-bottom: 1em;
	}

a.head {
	font-size: 15em;
	color: black;
	text-decoration: none;
	white-space: pre;
	font-family: helvetica, verdana, san-serif;
	font-weight: bold;
	line-height: .2em;
	margin-top: 0px;
	}

p.bio a:link {
	background: none;
	color: #c00;
	font-size: 1em;
	border: none;
	}

p.bio a:hover {
	background: none;
	color: #333;
	font-size: 1em;
	border: none;
	}

p.bio a:visited {
	background: none;
	color: #c00;
	font-size: 1em;
	border: none;
	}

.red {
	color: #c00;
	line-height: .5em;
	margin-top: -100px;
	}
	
p a:link {
	border-right: 20px solid white;
	border-left: 20px solid white;
	background-color: white;
	font-size: .5em;
	line-height: .01em;
	text-decoration: none;
	color: #222;
	}
	
p a:visited {
	border-right: 20px solid white;
	border-left: 20px solid white;
	background-color: white;
	font-size: .5em;
	line-height: .01em;
	text-decoration: none;
	color: #222;
	}
	
p a:hover {
	border-right: 20px solid white;
	background-color: white;
	border-left: 20px solid #960;
	font-size: .5em;
	line-height: .01em;
	text-decoration: none;
	color: #222;
	}
	
p a:active {
	border-right: 20px solid white;
	background-color: white;
	border-left: 20px solid #960;
	font-size: .5em;
	line-height: .01em;
	text-decoration: none;
	color: #222;
	}

p.resume:first-line, p.resume1:first-line {
	font-weight: normal;
	font-size: 1.2em;
	font-family: futura, georgia, san-serif;
	line-height: 1em;
	}
	
p.resume {
	white-space: pre;
	width: 50em;
	background-color: #fff;
	font-family: "Lucida Grande", verdana, san-serif;
	font-weight: normal;
	font-size: .8em;
	line-height: 1.1em;
	}

p.resume1 {
	white-space: pre;
	width: 50em;
	background-color: #fff;
	font-family: "Lucida Grande", verdana, san-serif;
	font-weight: normal;
	font-size: .8em;
	line-height: 1.5em;
	}

a.resume {
	font-family: Futura, "Lucida Grande", georgia, verdana, san-serif;
	background-color: #fff;
	font-weight: normal;
	font-size: .8em;
	}

p.contact {
	width: 30em;
	background-color: #fff;
	font-weight: bold;
	font-size: 2em;
	line-height: 1em;
	}
	
p.contact a:link {
	background: none;
	border: none;
	margin-left: 0px;
	font-size: 1em;
	line-height: 1em;
	text-decoration: none;
	color: #black;
	}

p.contact a:visited {
	background: none;
	border: none;
	margin-left: 0px;
	font-size: 1em;
	line-height: 1em;
	text-decoration: none;
	color: #black;
	}
	
p.contact a:hover {
	border-right: 20px solid #c00;
	margin-left: 0px;
	font-size: 1em;
	line-height: 1em;
	text-decoration: none;
	color: #black;
	}
	
p.contact a:active {
	border: none;
	margin-left: 0px;
	font-size: 1em;
	line-height: 1em;
	text-decoration: none;
	color: #black;
	}
	
p.bio {
	font-size: 2em;
	line-height: .8em;
	width: 30em;
	white-space: pre;
	}


#item {
	width: 900px;
	height: 500px;
	}

#item img {
	border: 2px solid black;
	}

#design {
	margin-top: 100px;
	}

#design div.left {
	width: 400px;
	float: left;
	}

#design div.right {
	width: 500px;
	float: right;
	padding-top: 0;
	}

#design p {
	background-color: #fff;
	font-weight: bold;
	font-size: 2em;
	line-height: 1em;
	}
	
#design p.description {
	margin: 0em 0 0 1em;
	font-size: 1em;
	}
	
#design p a:link {
	background: none;
	border: none;
	font-size: 1em;
	line-height: 1em;
	text-decoration: none;
	color: #c00;
	}
	
#design p a:visited {
	background: none;
	border: none;
	font-size: 1em;
	line-height: 1em;
	text-decoration: none;
	color: #c00;
	}

#design p a:hover {
	border: none;
	font-size: 1em;
	line-height: 1em;
	text-decoration: none;
	color: #333;
	}
	
