<nav class="path-nav">
  <ol>
    {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
  </ol>
</nav>

<button
  id="theme-toggle-btn"
  class="theme-toggle"
  type="button"
  title="Toggle theme"
  aria-label="Toggle theme">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    width="1em"
    height="1em"
    class="theme-toggle__dark-side"
    fill="currentColor"
    viewBox="0 0 32 32"
  >
    <path d="M16 .5C7.4.5.5 7.4.5 16S7.4 31.5 16 31.5 31.5 24.6 31.5 16 24.6.5 16 .5zm0 28.1V3.4C23 3.4 28.6 9 28.6 16S23 28.6 16 28.6z" />
  </svg>
</button>

{{- define "breadcrumbnav" -}}
  {{- if .p1.Parent -}}
    {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 ) }}
  {{- else if not .p1.IsHome -}}
    {{- template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 ) -}}
  {{- end -}}
  <li{{ if eq .p1 .p2 }} class="current"{{ end }}>
    {{ if .p1.IsHome }}/{{ end }}
    <a href="{{ .p1.RelPermalink }}">{{ if .p1.IsHome }}{{ .p1.Site.Title }}{{ else }}{{ .p1.Title }}{{ end }}</a>
    {{ if ne .p1 .p2 }}/{{ end }}
  </li>
{{- end -}}
