body {
  --cc1: #575279;
  --cc2: #faf4ed;
  --cc3: #b4637a;
  --cc4: #e1dbd5;
  --cc5: #7f7f7f;
  --cc6: #286983;
  --cc7: #907aa9;
  --cc8: #d7827e;
  --cc9: #56949f;
  --cc10: #ea9d34;
  --cc11: #797593;
  --cc12: #9893a5;
}

body.dark-mode {
  --cc1: #e0def4;
  --cc2: #232136;
  --cc3: #eb6f92;
  --cc4: #39374a;
  /* --cc5: #7f7f7f; (same in both styles)*/
  --cc6: #3e8fb0;
  --cc7: #c4a7e7;
  --cc8: #ea9a97;
  --cc9: #9ccfd8;
  --cc10: #f6c177;
  --cc11: #908caa;
  --cc12: #6e6a86;
}


.bg,
.chroma { color:var(--cc1);background-color:var(--cc2); }
.chroma .err,
.chroma .gd { color:var(--cc3) }
.chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
.chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
.chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
.chroma .hl { background-color:var(--cc4) }
.chroma .lnt,
.chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:var(--cc5) }
.chroma .line { display:flex; }
.chroma .k,
.chroma .kc,
.chroma .kd,
.chroma .kp,
.chroma .kr,
.chroma .kt,
.chroma .ne,
.chroma .se { color:var(--cc6) }
.chroma .kn,
.chroma .gu { color:var(--cc7) }
.chroma .n,
.chroma .na,
.chroma .ni,
.chroma .nl,
.chroma .nn,
.chroma .py,
.chroma .nt,
.chroma .nb,
.chroma .bp,
.chroma .nv,
.chroma .vc,
.chroma .vg,
.chroma .vi,
.chroma .vm,
.chroma .nf,
.chroma .fm { color:var(--cc8) }
.chroma .nc,
.chroma .gi { color:var(--cc9) }
.chroma .no,
.chroma .l,
.chroma .ld,
.chroma .s,
.chroma .sa,
.chroma .sb,
.chroma .sc,
.chroma .dl,
.chroma .sd,
.chroma .s2,
.chroma .sh,
.chroma .si,
.chroma .sx,
.chroma .sr,
.chroma .s1,
.chroma .ss,
.chroma .m,
.chroma .mb,
.chroma .mf,
.chroma .mh,
.chroma .mi,
.chroma .il,
.chroma .mo { color:var(--cc10) }
.chroma .nd,
.chroma .o,
.chroma .ow,
.chroma .p { color:var(--cc11) }
.chroma .c,
.chroma .ch,
.chroma .cm,
.chroma .c1,
.chroma .cs,
.chroma .cp,
.chroma .cpf { color:var(--cc12) }
.chroma .ge { font-style:italic }
.chroma .gs { font-weight:bold }
