body {
  --cc1: #575279;
  --cc2: #faf4ed;
  --cc3: #b4637a;
  --cc4: #e1dbd5;
  --cc5: #7f7f7f;
  --cc6: #286983;
  --cc7: #907aa9;
  --cc8: #d7827e;
  --cc9: #56949f;
  --cc10: #ea9d34;
  --cc11: #797593;
  --cc12: #9893a5;
}

body.dark-mode {
  --cc1: #e0def4;
  --cc2: #232136;
  --cc3: #eb6f92;
  --cc4: #39374a;
  /* --cc5: #7f7f7f; (same in both styles)*/
  --cc6: #3e8fb0;
  --cc7: #c4a7e7;
  --cc8: #ea9a97;
  --cc9: #9ccfd8;
  --cc10: #f6c177;
  --cc11: #908caa;
  --cc12: #6e6a86;
}


.bg,
.chroma {
  color: var(--cc1);
  background-color: var(--cc2);
}

.chroma {
  .err,
  .gd {
    color: var(--cc3);
  }

  .lnlinks {
    outline: none;
    text-decoration: none;
    color: inherit;
  }

  .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
  }

  .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }

  .hl {
    background-color: var(--cc4);
  }

  .lnt,
  .ln {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: var(--cc5);
  }

  .line {
    display: flex;
  }

  .k,
  .kc,
  .kd,
  .kp,
  .kr,
  .kt,
  .ne,
  .se {
    color: var(--cc6);
  }

  .kn,
  .gu {
    color: var(--cc7);
  }

  .n,
  .na,
  .ni,
  .nl,
  .nn,
  .py,
  .nt,
  .nb,
  .bp,
  .nv,
  .vc,
  .vg,
  .vi,
  .vm,
  .nf,
  .fm {
    color: var(--cc8);
  }

  .nc,
  .gi {
    color: var(--cc9);
  }

  .no,
  .l,
  .ld,
  .s,
  .sa,
  .sb,
  .sc,
  .dl,
  .sd,
  .s2,
  .sh,
  .si,
  .sx,
  .sr,
  .s1,
  .ss,
  .m,
  .mb,
  .mf,
  .mh,
  .mi,
  .il,
  .mo {
    color: var(--cc10);
  }

  .nd,
  .o,
  .ow,
  .p {
    color: var(--cc11);
  }

  .c,
  .ch,
  .cm,
  .c1,
  .cs,
  .cp,
  .cpf {
    color: var(--cc12);
  }

  .ge {
    font-style: italic;
  }

  .gs {
    font-weight: bold;
  }
}
