{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  <hr>
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ with site.RegularPages.Related . | first 5 }}
  <hr class="double">
  <p>Algorithmically determined to be related posts:</p>
  <ul>
    {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
    {{ end }}
  </ul>
{{ end }}
  <div class="terminal-nav">
    <div class="posts-nav">
			{{ $pages := .CurrentSection.Pages }}
			{{ with $pages.Prev . }}
				<a href="{{ .RelPermalink }}" class="posts-link-prev">← Previous Post</a>
			{{ end }}

			{{ with $pages.Next . }}
				<a href="{{ .RelPermalink }}" class="posts-link-next">Next Post →</a>
			{{ end }}
    </div>
    <div class="back-nav">
      <a href="../" title="back" class="back-link">../</a>
    </div>
  </div>
{{ end }}
