{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  {{ .Content }}

{{ with site.RegularPages.Related . | first 5 }}
  <hr class="double">
  <p>Algorithmically determined to be related posts:</p>
  <ul>
    {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
    {{ end }}
  </ul>
{{ end }}
  <div class="terminal-nav">
    <div class="back-nav">
      <a href="../" class="back-link">../</a>
    </div>
  </div>
{{ end }}
