  <script type='application/ld+json'>
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "Joel Gillman",
    "url": "https://joelgillman.com/",
    "email": "mailto:joel@joelgillman.com",
    "jobTitle": "Web Developer",
    "alumniOf": {
      "@type": "EducationalOrganization",
      "name": "Minneapolis College of Art and Design",
      "url": "http://mcad.edu/",
      "sameAs": "https://en.wikipedia.org/wiki/Minneapolis_College_of_Art_and_Design"
    },
    "worksFor": {
      "@type": "Organization",
      "name": "Goldbely",
      "url": "https://www.goldbely.com",
      "sameAs": "https://en.wikipedia.org/wiki/Goldbely"
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://joelgillman.com/"
    },
    "sameAs": [
      "https://www.facebook.com/joelgillman",
      "https://twitter.com/jgillman",
      "https://instagram.com/jgillman",
      "https://www.linkedin.com/in/joelgillman"
    ]
  }
  </script>
