<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

:head_comment

	<head>
		<title>@name's Portfolio</title>
:head
	</head>
	<body>
		<div id="container">
:main_nav
			<div id="content" role="main">
				:category_lists
			</div>
			
:footer
			
		</div>

:ie6_message

:google_analytics
	</body>
</html>