<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

:head_comment

<head>
  <title>Joel Gillman | Web Developer, Founder, HTML and JavaScript</title>
:head
</head>
<body>
	<div id="container">
:main_nav
		<section id="content" class="clearfix" role="main">
			:category_lists
		</section>

:footer

	</div>

:google_analytics
</body>
</html>
